/* Estilo general para el contenedor principal de la pantalla de ofertas */
.OffertScreen {
  background-color: #fff;
  min-height: 100vh; 
}

/* Estilo para la sección dentro del contenedor principal */
.OffertScreen-section {
  margin: 0 auto; 
  padding: 20px; 
}
  /* Estilo para el encabezado principal */
  .OffertScreen-heading {
    font-size: 2.5em;
    margin-bottom: 15px;
    color:#ef5a8d;
    text-align: center; 
  }
  
  /* Estilo para la descripción */
  .OffertScreen-description {
    font-size: 1.5em; 
    margin-bottom: 30px;
    color: #000; 
    text-align: center; 
  }
  
 
  /* Estilo responsivo para pantallas pequeñas */
  @media (min-width: 768px) {

  }
  

  