/* Mobile-first design */
.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .reservation-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reservation-label {
    font-size: 16px;
    margin: 10px 0 5px;
  }
  
  .reservation-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .reservation-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #d94e7c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .confirmation-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 1000;
    text-align: center;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }
  
  .close-button:hover {
    color: #f00;
  }
  
  .reservation-button:hover {
    background-color: #c03f6b;
  }
  .total-price{
    color: #f00;
  }
  
  /* For tablets */
  @media (min-width: 768px) {
    .reservation-container {
      padding: 40px;
    }
  
    .reservation-title {
      font-size: 28px;
    }
  
    .reservation-input {
      width: 80%;
    }
  
    .reservation-button {
      width: 80%;
    }
  }
  
  /* For desktops */
  @media (min-width: 1024px) {
    .reservation-container {
      max-width: 600px;
      margin: 0 auto;
    }
  
    .reservation-input {
      width: 70%;
    }
  
    .reservation-button {
      width: 70%;
    }
  }
  