.custom-projet-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; ;   
}

.custom-gallery-wrapper{
    width: 100% ; 
}
.custom-gallery-wrapper img {
    width: 100vw !important; ; 
    height: 50vh !important; ; 
    display: block !important; ; /* Evita espacios en blanco debajo de la imagen */           
    object-fit: cover !important; ;
}

@media (min-width: 768px){
 
}