/* Estilos base para HomeScreen, mobile-first */

/* Estilo general para el main */
.homeScreen {
  width: 100%;
  padding: 0;
  margin: 0;
}
.homeScreen-h1{
  font-size: 1.5rem;
  text-align: center;
}
.homeScreen-span{
  font-size: 2rem;
  color: #ef5a8d;
} 
.homeScreen-p{
  text-align: center;
  font-size: 1rem;
  padding: 0 4rem;
}
  
@media (min-width: 768px) {

}
    