.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 10px auto;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    flex: 1;
  }
  
  .search-icon {
    margin-right: 8px;
    font-size: 18px;
    color: #ef5a8d;
  }
  .icon-white{
    color: #fff
  }
  .search-item span {
    font-size: 16px;
  }
  
  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
  }
  
  .search-dropdown button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #fff;
    color: #333;
    text-align: left;
    cursor: pointer;
  }
  
  .search-dropdown button:hover {
    background-color: #ef5a8d;
    color: #fff;
  }
  
  .date-picker-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .search-date-picker {
    width: 100%;
    padding: 8px;
    border: none;
  }
  
  .search-button {
    background-color: #ef5a8d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .search-button .search-icon {
    margin-right: 8px;
  }
  
  .search-button:hover {
    background-color: #d94877;
  }
  
@media (min-width: 768px) {
  .search-hotels-list{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
 
  }
}